$primary: #BF9ACA;
$secondary: #FFD97D;
$light: #eef4f7;
$dark: #454545;
$success: #59A96A;
$danger: #F4442E;
$warning: #FFD97D;
$font-family-base: 'Raleway', sans-serif;
$font-family-sans-serif: 'Raleway', sans-serif;

* {
  color: $light;
  font-family: 'Raleway', sans-serif;
}
body {
  background-image: url('https://render.fineartamerica.com/images/images-profile-flow/400/images/artworkimages/mediumlarge/1/good-vibrations-chelsie-ring.jpg');
  background-size: 100% 100%;
  background-attachment: fixed;
}
#myName {
  margin-left: 40%;
  font-weight: bold;
}
header {
  background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
  background-color: $dark;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;

}
.picture {
  margin-top: 100px;
}
.row {
  display: flex;
  // margin-top: 200px;
  // width: 100%;
  margin-left:5px;
  justify-content: center;

}
.row img {
  max-height: 50vh;
  width: auto;
  // max-width: 400px;
  // box-sizing: content-box;
  // height: auto;
  margin-left: 10px;
  margin-top: 10px;
  padding: 10px;
  border: 2px solid $dark;
  flex-basis: auto;

}
.icons {
  display:flex;
}
.container {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
}
.header {
  height: 100px;
}
p {
  font-size: 16pt;
}
.btn.btn-primary {
  background-color: $primary;
  border-color: $primary;
}
.btn.btn-primary:hover {
  background-color: $primary;
}
h2 {
  font-size: 30pt;
  align-self: center;
  margin-left: 100px;
  color: $light;
}
#aboutMe {
  background-color: $success;
}
footer {
  background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
  background-color: $dark;
  height: 100px;
  display: flex;
  align-items: center;
  font-family: 'Handlee', cursive;
  color: $light;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer .btn {
  margin-left: 20px;
}
header .dropdown {
  margin-right: 20px;
}
ul.dropdown-menu {
  
  position: relative;
  right: 110px;
}
h3 {
  color: $light;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 15px;
  padding-top: 110px;
}
h2 a {
  font-family: 'Handlee', cursive;
}
.projects {
  max-height: 50vh;
  overflow: hidden;
  
}
.projects img {
  max-height: initial;
}
.car.workExperience {
  display: flex;
  flex-direction: row;
  // height: 150px;
  align-content: center;
}
.workExperience .card-body {
  margin-left: 170px;
}
.car div.workExperience {
  height: 100%;
}
.car div span {
  display: inline-block;
  height: 100%;
  width: 20px;
}
.car.workExperience img {
  width:150px;
}


.car {
  margin: 5%;
  width: 75%;
  background-color: rgba(0, 0, 0, .3);
}
ul {
  list-style: none;
}
.index {
  padding-top: 100px;
}
@media screen and (max-width: 800px)  {
  .workExperience-image {
    display: none;
    // width: 0px;
  }
  .workExperience .card-body {
    margin-left: 5%;
  }
  .car.workExperience img {
    width: 0px;
  }
  footer {
    justify-content: space-evenly;
  }
  footer h2 {
    margin-left: 30px;
    font-size: smaller;
  }
  footer h4 {
    font-size: smaller;
    margin-left: 20px;
  }
  footer .btn {
    margin-left: 5px;
  }
  #myName {
    margin-left: 10%;
    font-weight: bold;
  }
}
